DJANGO_SECRET_KEY=jOs32021Jos3123
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=postgresql://postgres:jOs32021Jos3123@aws-1-us-east-1.pooler.supabase.com:5432/postgres

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=jOs32021Jos3123
DB_HOST=your-project.supabase.co
DB_PORT=5432
